@font-face {
  font-family: "Graphik";
  src: local("Graphik Medium"), local("Graphik-Medium"), url("../font/Graphik-Medium.woff2") format("woff2"), url("../font/Graphik-Medium.woff") format("woff"), url("../font/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.header {
  background-color: #ffffff;
  height: 100px;
  display: flex;
}

.header-nav {
  font-family: "Graphik";
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  display: flex;
  margin: auto 0;
  margin-left: 100px;
  column-gap: 50px;
  align-items: center;
}

.header-logo {
  display: flex;
  margin: auto;
}

.header-login-menu {
  display: flex;
  align-items: center;
  font-family: "Graphik";
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin: auto;
  margin-right: 100px;
  column-gap: 51px;
}

.header-login-menu-images {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
